<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple Memo</title>

    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <form onSubmit="return false;">
        <h3>Login</h3>
        <h5>Simple Memo</h5>

        <label for="email">Email</label>
        <input type="text" placeholder="Email" id="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <div style="margin-top: 30px;"></div>

        <button id="loginBtn">Login</button>
        <button onclick="location.href='/join' ">Sign up</button>
    </form>
</body>
<script type="importmap">
  {
    "imports": {
      "fetchHandler": "/script/memo/module/fetchHandler.js?v=1.0"
    }
  }
</script>
<script type="module" src="/script/user/login.js"></script>
</html>